.search_links {
  list-style: none;
}

h3 {
  font-size: 1.5em;
}

.search_links li {
  display: inline-block;
  background: #72d0e0;
  text-decoration: none;
  padding: 0.3em 1em;
  margin: 0.5em;
  border-radius: 4px;
}

.items {
  text-decoration: none;
  color: white;
}

.search_form input {
  border: none;
  background: white;
  width: 50%;
  height: 30px;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;
}

.search_form input:focus {
  outline: none;
  border: 3px solid #72d0e0;
}
