.category_container {
  display: flex;
  flex-direction: column;
}

.search_links {
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1em;
}
.search_links li {
  padding: 0.2em 1em;
  display: inline-block;
}

.search_links li:hover {
  background: #333;
}

.items {
  text-decoration: none;
  color: white;
}
