.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gift{
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(27, 27, 27);
  flex-direction: column;
  width: 12em;
  height: auto;
  padding: 0.5em;
  border-radius: 10px;
  margin: 0.5em;
}

.gift img{
  max-width: 200px;
  max-height: auto;
  display: flex;
  align-self: center;

}

.list_gifs{
  display: flex;
  flex-wrap: wrap;
}

.links{
  list-style: none;
}

.links li{
  display: inline-block;
  background: #6294c2;
  margin: 0 0.1em;
  border-radius: 10px;
}

.links li a{
  display: inline-block;
  text-decoration: none;
  color: rgb(218, 214, 214);
  font-size: 20px;
  padding: 0.5em;
}

.links li:hover{
  background: #4b6c8b;
}

