.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gift{
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(108, 108, 109);
  flex-direction: column;
  width: 400px;
  padding: 30px;
  border-radius: 20px;
  margin: 1em;
}

.gift img{
  border-radius: 20px;
}

